@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

  .CredentialInputStyle {

    width: 100%;
    display: block;
    color: black;
    border-radius: 5px;
  }

  .CredentialLabelStyle {
    font-weight: bolder;
    font-size: medium;

  }

  .BaseFont{

    font-family: "Poppins", sans-serif;
    font-style: normal;

  }
}